# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* Sql
* java
* Python
* R
* Matlab

Some of the popular languages that Data Scientists use are:
1. NumPy
2. Pundas
3. Tensorflow

|Data Science Tools|
|-------------------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

Some of the popular languages that Data Scientists use are:

1. Python
2. R statistical language
3. Julia
4. Sql
5. Java
6. C++
7. Matlab

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers


(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60



(200)/60

3.3333333333333335

## Author

Clive